{% extends 'djangoeats/base.html' %}

{% block title_block %}
    Add a Menu Item - {{restaurant.name}}
{% endblock %}
<!-- Loads the menu form that will add a new item to a restaurant -->

{% block body_block %}
    <h1 class="page-title">Add a Menu Item to {{ restaurant.name }}</h1>
    <div class="menu-form-container">
        <form id="add_menu_Item_form" method="post" action="{% url 'djangoeats:add_menu_item' restaurant.slug %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn primary full-width-btn">Add Menu Item</button> 
        </form>
    </div>
    <div class="nav-btns">
        <a href="{% url 'djangoeats:restaurant_detail' restaurant.slug %}" class="nav-btn-inverse">Return to Restaurant</a>
    </div>
{% endblock %}