<!DOCTYPE html>
{% extends 'djangoeats/restaurantDisplayBase.html' %}
{% load static %}

{% block title_block %}
    Dashboard
{% endblock %}

{% block pre_scroll_body_block %}
    <div>
    <h1> {{ user.username }}'s 
    {% if user.profile.user_type == 'owner'%}
        Restaurants
    {% else %}
        Favourites
    {% endif %}
    </h1>
    </div>
{% endblock %}

{% block restaurant_action_block %}
{% if user.profile.user_type == 'owner' %}
    <!-- Needs functionality -->
     <a href = "{% url 'djangoeats:restaurant_edit' restaurant.slug %}">
    <button>Edit Restaurant</button>
    </a>
{% else %}
<!-- Needs functionality -->
    <button>Remove from favourites</button> 
{% endif %}
{% endblock %}

