<!DOCTYPE html>
{% extends 'djangoeats/restaurantDisplayBase.html' %}
{% load static %}

{% block title_block %}Dashboard{% endblock %}

{% block pre_scroll_body_block %}
    <div class="hero-section">
        <h1>Find & Review the Best Restaurants Near You!</h1>
        <p>THIS IS THE DASHBOARD</p>
        <form action="{% url 'djangoeats:search' %}" method="GET">
            <input type="text" name="q" placeholder="Search restaurants...">
            <button type="submit">Search</button>
        </form>
        </div>
    {% if user.is_authenticated and user.profile.user_type == "owner" %}
        <div class="register-container">
            <a href="{% url 'djangoeats:register_restaurant' %}" class="cta-button">Register Your Restaurant</a>
        </div>        
    {% endif %}
    <div id = "test"></div>
{% endblock %}

<!-- Additional buttons to be within the restaurants displayed on the dashboard -->
{% block restaurant_action_block %}
    {% if user.profile.user_type == "owner" %}
        <a href="{% url 'djangoeats:restaurant_edit' restaurant.slug %}">Edit Restaurant</a>
    {% elif user.profile.user_type == "customer" %}
        <input type="button" class="favourite-action" value="Remove from Favorites" onclick="removeFavoriteFromDashboard('{{ restaurant.slug }}')"/>
    {% endif %}
{% endblock %}

    


{% block post_scroll_body_block %}

    <footer>
        <p>&copy; 2025 DjangoEats. All rights reserved.</p>
    </footer>
{% endblock %}
