<!DOCTYPE html>
{% extends 'djangoeats/restaurantDisplayBase.html' %}
{% load static %}

{% block title_block %}Dashboard{% endblock %}


{% block pre_scroll_body_block %}
    <div class="hero-section">
        <h1>Find & Review the Best Restaurants Near You!</h1>
        <p>THIS IS THE DASHBOARD</p>

        <!-- {% include 'djangoeats/searchForm.html' %} -->
        </div>
    {% if user.is_authenticated and user.profile.user_type == "Owner" %}
        <div class="register-container">
            <a href="{% url 'djangoeats:register_restaurant' %}" class="cta-button">Register Your Restaurant</a>
        </div>        
    {% endif %}
{% endblock %}

<!-- Additional buttons to be within the restaurants displayed on the dashboard -->
{% block restaurant_action_block %}
    {% if user.profile.user_type == "Owner" %}
        <a href="{% url 'djangoeats:add_menu_item' restaurant.slug %}">Add menu item</a>
    {% elif user.profile.user_type == "Customer" %}
        <a onclick="removeFavoriteFromDashboard('{{ restaurant.slug }}')">Remove from Favourites</a>
    {% endif %}
{% endblock %}