{% extends 'djangoeats/base.html' %}
{% load static %}

<!-- It's a login page -->
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="auth-container">
        <h1>Welcome Back!</h1>
        <p>Log in and explore the best restaurants.</p>

        <form method="POST" action="{% url 'djangoeats:login_view' %}">
            {% csrf_token %}
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="auth-button">Login</button>
        </form>

        <p>Don't have an account? <a href="{% url 'djangoeats:register' %}">Register here</a></p>
    </div>

{% endblock %}