{% extends 'djangoeats/base.html' %}

{% block title_block %}
    Review
{% endblock %}

{% block body_block %}
<div class="review-container">
    <h1 class="form-title">Review {{ restaurant.name }}</h1>
    <p class="form-sub">Share your Opinion on the Restaurant</p>

    <form method="post">

        {% csrf_token %}

        <div class="form-group">
            <label for="id_rating" class="form-label">Rating</label>
            {{ form.rating }}
        </div>


        <div class="form-group">
            <label for="id_comment" class="form-label">Comment</label>
            {{ form.comment }}

        </div>


        <div class="rev-nav-Buttons">
            <button type="submit" class="btn primary">Post Review</button>
            <a href="{% url 'djangoeats:restaurant_detail' restaurant.slug %}" class="btn secondary">Back to {{ restaurant.name }}</a>
            <a href="{% url 'djangoeats:home' %}" class="btn secondary">Back to Home</a>
        </div>
    </form>
</div>
{% endblock %}