{% extends 'djangoeats/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

<!-- It's an input form. Does what it should -->
{% block body_block %}
    <div class="auth-container">
        <h1>Join DjangoEats!</h1>
        <p>Discover the best restaurants close to you.</p>

        <form method="POST" action="{% url 'djangoeats:register' %}">
            {% csrf_token %}
            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <div class="input-group">
                <label>User Type</label>
                <select name="user_type">
                    <option value="customer">Customer</option>
                    <option value="owner">Restaurant Owner</option>
                </select>
            </div>

            <div class="input-group">
                <label>Location</label>
            <!-- Define the map feature; hidden inputs take values from the google maps api -->
            <div id="map" style="height: 300px; width: 100%;"></div>
                <input type="hidden" id="latitude" name="latitude">
                <input type="hidden" id="longitude" name="longitude">
            </div>

            <button type="submit" class="auth-button">Register</button>
        </form>

        <p>Already have an account? <a href="{% url 'djangoeats:login_view' %}">Log In</a></p>
    </div>

    <!-- Gets the google maps API that allows restaurants to be found based on their geographical location -->
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqZDKn4Elrg5ipAG22DDnLM2hjCLwBQ-A&libraries=places&callback=initMap" async defer></script>

    
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
