<!DOCTYPE html>
{% extends 'djangoeats/base.html' %}
{% load static %}

{% block title_block %}
    {{ restaurant.name }}
{% endblock %}

<!-- Display all the relevant details of a restaurant -->
{% block body_block %}

    <div class="restaurant-details-container">

        <h1>{{ restaurant.name }}</h1>

        <!-- Basic details -->
        <div id="restaurant_details">
                <p>Owner : {{ restaurant.owner }}</p>
                <p>Cuisine : {{ restaurant.cuisine }}</p>
                <p>Address : {{ restaurant.address }}</p>
                <p>Phone : {{ restaurant.phone }}</p>
                <p>Email : {{ restaurant.email }}</p>
        </div>

        
        <div class="restaurant-actions">

            <a href="{% url 'djangoeats:home' %}" class="btn">Return Home</a>

            <!-- Show review and favourite buttons to customer users. Swap what button shows to add or remove the favourite -->
            {% if user.is_authenticated %}
                {% if not is_owner %}
                    <a href="{% url 'djangoeats:make_review' restaurant.slug %}" class="btn">Make your Review</a>
                    {% if restaurant in user.profile.favorite_restaurants.all %}
                        <form onsubmit = "removeFavorite()">
                            <input type="submit" value = "Remove from Favorites" class="btn danger"/>
                        </form>
                    {% else %}
                        <form onsubmit = "addFavorite()">
                            <input type="submit" value = "Add to Favorites" class="btn"/>
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% if owner_of_restaurant %}
            <a href="{% url 'djangoeats:add_menu_item' restaurant.slug %}" class="btn">Add a Menu Item</a>
        {% endif %}

        </div>

        <hr>

        <!-- Display all reviews -->
        <div id="Reviews">
            <h2>Reviews</h2>

            {% if reviews %}
            <div class="reviews-list">
                {% for review in reviews %}
                    <div class="review-card">
                        <p class="review-user"><strong>{{ review.reviewer.username }}</strong> has said:</p>
                        <p class="review-body">"{{ review.comment }}"</p>
                        <p class="review-rating">Rating: {{ review.rating }} ⭐</p>
                    </div>
                {% endfor %}

            </div>
            {% else %}
                 <p class="empty-message">No reviews yet.</p>
            {% endif %}
        </div>  

        <!-- Display all menu items -->
        <div id="Menu_items">
            <h2>Menu Item</h2>

            {% if menu_items %}
                <div class="menu-list">
                    {% for item in menu_items %}
                        <div class="menu-card">
                            <h3 class="menu-name">{{ item.name }}</h3>
                            <p class="menu-description">{{ item.description }}</p>
                            <p class="menu-price">£{{ item.price }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty-message">No Menu Items available.</p>
            {% endif %}

        </div> 

        

    </div>


{% endblock %}