<div id="restaurant-list">
    {% for restaurant in restaurants %}
        <div class="restaurant-card">
            {% if restaurant.image %}
            <img src="{{ restaurant.image.url|default:'/static/images/logo.png' }}" alt="{{ restaurant.name }} Image">
            {% endif %}
            <h3>{{ restaurant.name }}</h3>
            <p>Cuisine: {{ restaurant.cuisine }}</p>
            <p>{{ restaurant.address }}</p>
            <a href="{% url 'djangoeats:restaurant_detail' restaurant.slug %}">View Details</a>

            {% block restaurant_action_block %}
            
            {% endblock %}
        </div>
    {% empty %}
        <p>No restaurants available.</p>
    {% endfor %}
</div>