<!DOCTYPE html>
{% extends 'djangoeats/base.html' %}
{% load static %}

{% block title_block %}
    edit {{restaurant.name}}
{% endblock %}

{% block body_block %}
<h1>Edit Details for {{restaurant.name}}</h1>
<div id = "edit-info">
    <p>{{restaurant.name}}</p>
    <p>{{restaurant.address}}</p>
    <p>{{restaurant.email}}</p>
    <p>{{restaurant.phone}}</p>
    <p>{{restaurant.cuisine}}</p>
</div>
<br/>
<div id = "edit-menu">
    {% for item in menu_items %}
    <p>{{item.name}}</p>
    <p>{{item.description}}</p>
    <p>{{item.price}}</p>
    <P>{{item.type}}</P>
    <br/>
    {% endfor %}
</div>
{% endblock %}