<!DOCTYPE html>
{% extends 'djangoeats/base.html' %}
{% load static %}

<!-- This template is used for all pages that will dynamically display a list of restaurants -->

{% block body_block %}
    <!-- Define pre and post display blocks that give pages extending this freedom to do whatever -->
    {% block pre_scroll_body_block %}
    {% endblock %}


    <!-- Display the restaurants -->
    <div id="restaurant-list">
        {% for restaurant in restaurants %}
            <div class="restaurant-card">
                {% if restaurant.image %}
                <img src="{{ restaurant.image.url|default:'/static/images/logo.png' }}" alt="{{ restaurant.name }} Image">
                {% endif %}
                <h3>{{ restaurant.name }}</h3>
                <p>Cuisine: {{ restaurant.cuisine }}</p>
                <p>{{ restaurant.address }}</p>
                <a href="{% url 'djangoeats:restaurant_detail' restaurant.slug %}">View Details</a>

                {% block restaurant_action_block %}

                {% endblock %}
                
            </div>
        {% empty %}
            <p>No Registered Restaurants.</p>
        {% endfor %}
    </div>
    {% block post_scroll_body_block %}
    {% endblock %}
{% endblock %}