<!DOCTYPE html>
{% extends 'djangoeats/base.html' %}
{% load static %}

{% block title_block %}
    <strong>{{ restaurant.name }}</strong>
{% endblock %}

{% block body_block %}

    <div id="restaurant_details">
        <li>
            <p>Owner : {{ restaurant.owner }}</p>
            <p>Cuisine : {{ restaurant.cuisine }}</p>
            <p>Address : {{ restaurant.address }}</p>
            <p>Phone : {{ restaurant.phone }}</p>
            <p>Email : {{ restaurant.email }}</p>
        </li>
    </div>
    
    {% if user.is_authenticated %}
        {% if not is_owner %}
            <a href="{% url 'djangoeats:make_review' restaurant.slug %}">
                <button>Make a Review</button>
            </a>
            <!-- IMPLEMENT FUNCTIONALITY TO ADD THIS restaurant TO THE USERS LIST OF FAVOURITES(IF WE USE A LIST) -->
             <div id = "add-or-remove">
                {% if restaurant in user.profile.favorite_restaurants.all %}
                    <form onsubmit = "removeFavorite()">
                        <input type="submit" value = "Remove from Favorites"/>
                    </form>
                {% else %}
                    <form onsubmit = "addFavorite()">
                        <input type="submit" value = "Add to Favorites"/>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    <a href="{% url 'djangoeats:home' %}">
        <button>Return Home</button>
    </a>

    <div id="add-or-delete"></div>

    {% if owner_of_restaurant %}
    <a href="{% url 'djangoeats:add_menu_item' restaurant.slug %}">
        <button>add Menu Item</button>
    </a>
    {% endif %}
    
    <!-- FIGURE OUT FUNCTIONALITY FOR THESE SLIDE BAR -->
    <div id="Reviews">
        <h2>Reviews</h2>
    </div>

    <div id="Menu_items">
        <h2>Menu Items</h2>
    </div>

{% endblock %}

